/* In a proper project I'd use a library for scoped CSS */

.neo4j-slider-css {
  position: relative;
  height: 3px;
  margin: 20px 0;
}

.neo4j-slider-css-bg-filled {
  height: 3px;
}

input[type="range"].neo4j-slider-css-input {
  position: absolute;
  top: -14px;
  height: 32px;

  -webkit-appearance: none;
  appearance: none;
}

/* Chrome only to reduce time spent on code test*/
input[type="range"].neo4j-slider-css-input::-webkit-slider-thumb {
  width: 14px;
  height: 14px;
  background-color: rgb(var(--theme-palette-primary-bg-strong));
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: pointer;
}

input[type="range"].neo4j-slider-css-input:focus::-webkit-slider-thumb {
  background-color: rgb(var(--theme-palette-primary-pressed-strong));
  box-shadow: 0 0 0 9px rgb(var(--theme-palette-primary-hover-weak));
}

input[type="range"].neo4j-slider-css-input::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 9px rgb(var(--theme-palette-primary-hover-weak));
}
